h5 {
  margin-bottom:20px;
}

.disclaimer {
  font-style: italic;
  font-size: 15px;
}

button {
  margin-bottom:10px;
}

#result1, #result2, #result3 {
  display: none;
}

.hide {
  display: none;
}
